.welcome {
  img {
    width: 100%;
  }
}

.about {
  width: auto;
  height: 400px;

  .text {
    margin-top: 150px;
    text-align: center;

    h2 {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 35px;
    }

    .aboutText {
      margin: 100px auto 0 auto;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 25px;
      width: 600px;
      height: 150px;
    }
  }
}

.structure {
  min-height: 810px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    width: 100%;
  }

  .info {
    height: auto;
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-family: "Open Sans";

    h2 {
      padding-top: 200px;
      font-weight: 300;
      font-size: 35px;
    }

    p {
      padding-top: 104px;
      padding-bottom: 104px;
      margin: 0 auto;
      width: 700px;
      height: 125px;
      font-weight: 400;
      font-size: 25px;
    }

    button {
      width: 200px;
      height: 60px;
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      font-weigth: 600;
      font-size: 12px;
    }

    button:hover {
      background-color: rgba(255, 255, 255, 0.1);
      -webkit-transition: all 0.3s ease;;
      -moz-transition: all 0.3s ease;;
      -o-transition: all 0.3s ease;;
      transition: all 0.3s ease;
    }
  }
}

.geo {
  width: auto;
  height: 600px;

  .content {
    display: flex;
    justify-content: center;
    padding-top: 70px;

    img {
      width: auto;
      height: auto;
    }

    p {
      margin-left: 100px;
      padding-top: 100px;
      max-width: 676px;
      height: 217px;
      color: #353535;
      font-family: "Open Sans";
      font-size: 37px;
      font-weight: 300;
    }
  }
}

.telescopes {
  min-height: 810px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    width: 100%;
  }

  .info {
    /*padding-top: 150px;*/
    height: auto;
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-family: "Open Sans";

    h2 {
      padding-top: 200px;
      font-weight: 300;
      font-size: 35px;
    }

    p {
      padding-top: 104px;
      padding-bottom: 104px;
      margin: 0 auto;
      width: 700px;
      height: 125px;
      font-weight: 400;
      font-size: 25px;
    }

    button {
      width: 200px;
      height: 60px;
      border-radius: 20px;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      font-weigth: 600;
      font-size: 12px;
    }

    button:hover {
      background-color: rgba(255, 255, 255, 0.1);
      -webkit-transition: all 0.3s ease;;
      -moz-transition: all 0.3s ease;;
      -o-transition: all 0.3s ease;;
      transition: all 0.3s ease;
    }
  }
}

.points {
  width: 100%;
  font-family: "Open Sans";

  h2 {
    padding-top: 130px;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
  }

  .items {
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 475px;

    .firstPic {
      /*-webkit-filter: blur(0);
      filter: blur(0);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;*/
      border-radius: 10px;
      width: 400px;
      height: 400px;
      background-color: #353535;
      position: relative;
      z-index: 3;

      img {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        width: 400px;
        height: 400px;
      }

      img:hover {
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }

      p {
        user-select: none;
        margin-top: 170px;
        text-align: center;
        position: relative;
        z-index: 2;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: 300;
      }
    }

    /*.firstPic:hover {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }*/
    .secondPic {
      overflow: hidden;
      border-radius: 10px;
      width: 400px;
      height: 400px;
      background-color: #353535;

      img {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        width: 400px;
        height: 400px;
      }

      img:hover {
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }

      p {
        user-select: none;
        width: 200px;
        text-align: end;
        margin: 170px 0 0 65px;
        position: relative;
        z-index: 2;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: 300;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #222222;

  .info {
    margin: 0 auto;
    width: 70%;
    height: 70px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;

    .contacts {
      padding-top: 25px;
      float: left;
    }

    img {
      padding-top: 10px;
    }

    .address {
      padding-top: 25px;
      float: right;
    }
  }
}


.catalog {
  background-color: #000;
  width: auto;
  height: 3000px;
  .tabMenu {
    float: left;
    margin: 200px 0 0 100px;
    width: 400px;
    height: 500px;
    position: fixed;
    li {
      border: 2px solid #902d50;
      width: 300px;
      height: 90px;
      margin-top: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      p {
        margin: 0 auto;
        width: 200px;
        color: #fff;
        font-family: "Open Sans";
        font-weight: 300;
        line-height: 25px;
      }
    }
  }
  .firstBlock {
    margin: 200px 100px 0 0;
    float: right;
    color: #fff;
    h2 {
      text-align: center;
      font-family: "Open Sans";
      font-size: 40px;
      font-weight: 400;
    }
    img {
      padding-top: 40px;
      width: 600px;
      height: 400px;
    }
    table {
      border: 1px solid #250c15;
      margin-top: 40px;
      width: 600px;
      height: 500px;
      tr {
        text-align: center;
        td {
          vertical-align: middle;
          font-family: "Open Sans";
          font-weight: 300;
          margin: auto;
          border: 1px solid #250c15;
          width: 50%;
        }
      }
      .big {
        height: 80px;
        td {

        }
      }
    }
  }
}



